<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Messaging - Log in</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div class="login">
    <div class="error" th:if="${param.error}">
        Invalid username or password.
    </div>
    <div class="success" th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="error" th:if="${param.expired}">
        Your session has expired or you've logged in somewhere else.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="login-form-element">
            <label>
                <p>User Name:</p>
                <input class="textfield" type="text" name="username"/>
            </label>
        </div>
        <div class="login-form-element">
            <label>
                <p>Password:</p>
                <input class="textfield" type="password" name="password"/>
            </label>
        </div>
        <div class="login-form-element">
            <input class="button-large" type="submit" value="Sign In"/>
        </div>
    </form>
</div>
</body>
</html>