<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Messaging - Log in</title>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div th:if="${param.expired}">
    Your session has expired or you've logged in somewhere else.
</div>
<form th:action="@{/login}" method="post">
    <div><label>
        <p>User Name:</p>
        <input type="text" name="username"/>
    </label></div>
    <div><label>
        <p>Password:</p>
        <input type="password" name="password"/>
    </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>