.chat {
  .chat-users {
    height: @body-height;
    background-color: #444444;
    color: #dddddd;
  }
  .chat-form {
    height: @chat-height;
    position: fixed;
    bottom: 0;
    input {
      width: 100%;
    }
  }
  .chat-messages {
    height: @messages-height;
    overflow: auto;
  }
}